<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pickahu.openproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UniversalImageLoader.NetImageLoadActivity"></activity>
        <activity android:name=".UniversalImageLoader.LocalImageLoadActivity"></activity>
        <activity android:name=".Glide.GlideLocalActivity"></activity>
        <activity android:name=".Glide.GlideNetActivity"></activity>

        <activity android:name=".imagesSelect.ImageMainActivity"></activity>
        <activity android:name=".Database.DbUtils.DbUtilsActivity"></activity>

        <activity android:name=".Recyclerview.RecyclerviewListActivity"></activity>
        <activity android:name=".Recyclerview.RecyclerviewGridActivity"></activity>
        <activity android:name=".Recyclerview.RecyclerviewPubuActivity"></activity>

        <activity android:name=".retrofit2.Retrofit2Activity"></activity>
    </application>

</manifest>